.popup {
  position: fixed;
  top: -130px;
  left: 220px;
  width: 300px; /* Set the desired width for the popup */
  height: 100%; /* Set the height as per your requirement */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-inner h2{
  color: rgb(116, 116, 116);
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(144, 182, 157);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: rgb(144, 182, 157);
}
